.page {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  max-width: 800px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.heading {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.upcomingAssignments {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.upcomingAssignments h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.dueTodayAssignments {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.dueTodayAssignments h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.sortOptions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.sortOptions label {
  margin-right: 10px;
  font-weight: bold;
}

.addAssignment {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.addAssignment h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.addAssignment input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.addAssignment button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.addAssignmentButton {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tabs button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f1f1f1;
}

.activeTab {
  background-color: #4CAF50;
  color: white;
}

.assignmentTable {
  width: 100%;
  border-collapse: collapse;
}

.assignmentTable th,
.assignmentTable td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.assignmentTable th {
  background-color: #4CAF50;
  color: white;
  width: 20%;
}

.assignmentTable td {
  width: 20%;
}

.assignmentTable tr:hover {
  background-color: #f1f1f1;
}

.checkmark {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
}

.completed {
  background-color: #d4edda; /* Light green for completed assignments */
}